<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  </head>
  <body>
    
    <%- include('menu.html') %>

    <div class="container mt-4">
        <form action="/edit" method="post">
            <div class="form-group">
                <label>제목</label>
                <input type=" text" value="<%=data._id%>" name="id" style="display:none;">
                <input type=" text" value="<%=data.title%>" name="title" class="form-control">
            </div>
            <p></p>
            <div class="form-group">
                <label>내용</label>
                <textarea name="content" rows="10" class="form-control"><%=data.content%></textarea>

                <br>
                <% if (data.path){ %>
                  <img src = "<%=data.path%>" width = "200"/>
                  <br>
                <% } %>
            </div>
            <p></p>
            <div class="form-group">
                <label>작성일</label>
                <input type="date" value="<%=data.date%>" class="form-control" name="someDate" >
            </div>
            <p></p>
            <button type="submit" class="btn btn-warning" style="float:right;">수정</button>
        </form>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
  </body>
</html>