<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Search Result</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    
    <%- include('menu.html') %>

    <h2 class = "ml-2 my-3 text-center">검색 결과</h2>
    <div class = "container">
      <ul class = "list-group">
        <% for(var i = 0; i < data.length; i++){ %>
          <li class = "list-group-item">
            <div class="card" style="width: 100%;">
              <div class="card-header">
                <h4 class="card-title"><%=data[i].title%></h4>
              </div>
              <div class="card-body">
                <p class="card-text"><%=data[i].content%></p>
                <img src = "<%=data[i].path%>" width = "200"/><p></p>
                <p class="card-subtitle mb-2">작성일: <%=data[i].date%></p>
                <a href="/edit/<%=data[i]._id%>" class="card-link">수정하기</a>
                <a href="/list" class="card-link">목록</a>
              </div>
            </div>
          </li>
        <% } %>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
  </body>
</html>